/*:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}*/

/* Default Setting-------------*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color:#fff;
  color: #000;
}


/*LANDING PAGE STYLES*/

/* Navbar Styles-------------*
.Logo--Q {
  color: rgb(87, 81, 172);
  font-family: cursive;
  font-weight: bold;
  font-size: x-large;
}
.Logo--text {
  color: rgb(5, 5, 53);
  font-weight: bold;
}
.Nav--options {
  display: flex;
  gap: 5rem;
  margin-top: 0.5rem;
  font-size: small;
  color:#7c3aed;}

.Logo {
  display: flex;
  gap: 20rem;
  
}
.Logo-- {
  margin-left: 1rem;
}
.Login-signup-nav {
  gap: 2rem;
  font-size: small;
  display: flex;
  margin-top: 0.5rem;
  color: rgb(5, 5, 53);
  font-weight: bold;
}

/*Hero section style------------*
.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay{
  position: absolute;
  inset:0;
  background:rgba(0,0,0,0.6) ;
}
.hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  z-index: 2;
  width: 90%;
}

.hero-content h1{
  font-size: 4rem;
  margin-bottom: 15px;
}
.hero-content p{
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero-content button{
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: #2a1749;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.hero-content button:hover{
  background-color: #7c3aed;
}


.btn-L{
  transform: translate(100%,100%);
  color: #2a1749;
  background-color: white;
}


/*Feature section and explore subject Styles-------------*
.features ,.explore-subjects{
  text-align: center;
  margin-top: 2rem;
}

.features h3,.explore-subjects h3{
  color: #57585a;
}
.features h2,.explore-subjects h2{
  color:  rgb(5, 5, 53);
}

.feature-card{
  box-shadow: 1px 5px 11px  rgba(0,0,0,0.2);
  padding: 2rem;
  width: 20rem;
  height: 10rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  color: #7c3aed;
  
}
.feature-cards{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.explore-subjects{
  margin-top: 5rem;
}

.subject-cards{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  padding-bottom: 5rem;
  margin-right: 1rem;

}
.subject-card{
  box-shadow: 1px 5px 11px  rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 20rem;
  height: 10rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
 

}

.Exp-Sub{
  background-color: rgb(249, 236, 252);

}
.subject-card:hover{
  transform: translate(1px);
  box-shadow: 0px 9px 17px  rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-style: groove;
  border-color: #9c7fcf;
  
  
}


/*Footer box styles-------*
.footer-box{
  display: flex;
  gap: 3rem;
  background-color: #7c3aed;
  height: 10rem;
  justify-content: center;
  color: #fff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.51rem;
}
.footer-box button{
  height: 2rem;
  width: 8rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
  border: none;
}
.footer-box .foot-h{
  margin-top: 2rem;
}

.footer-box p{
  margin-top: 2rem;
} 

.footer-box button:hover{
  box-shadow: 0px 5px 14px purple;
  color: #7c3aed;
  background-color: #e2e4e7;
}


/*About Section styles========*
.about-details-cont{
  margin-left: 0.5rem;
  margin-right:0.5rem ;
  height: 15rem;
  margin-top: 1rem;
  
  
  background-color: #140333;
  color: white;
  border-radius: 0.5rem;
}

.Logo-1{
  margin-top: 1rem;
  margin-left: 1rem;
  color:#857f8d;
}
.Q-about{
  color: #7c3aed;
  font-size: 35px;
}
.logo--text2{
  color:white;
  font-weight: bold;
}
.Platform{
  margin-top: 2rem;
  color:#857f8d;
}
.Platform h3{
  color: white;
}
.Support{
  margin-top: 2rem;
  color: #857f8d;
}

.Support h3{
  color:white
}

.Company{
  margin-top: 2rem;
  color:#857f8d;
}

.Company h3{
  color:white
}
.follow-us{
  margin-top: 2rem;
  color:#857f8d;
}
.follow-us h3{
  color:white
}
.flex-about{
  display: flex;
  gap: 5rem;
}
.copy-right{
  color: #857f8d;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 15px;
}

.btn-link-start{
  color: white;
  text-decoration-style:none ;
}

/*LOGIN PAGE STYLES*

.login-page-cont{
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  height: 40rem;
  margin-top: 0rem;
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
 .Q--{
  color: #2a1749;
  margin-top: 1rem;
  background-color: #c4b0e7;
  width: 5rem;
  margin-left: 1rem;
  height: rem;
  text-align: center;
  font-size: x-large;
  border-radius: 5rem;
  transform: translate(80%, 70%);

}
.login-page-cont h3{
  color:#59329c;
  margin-top: 2rem;
  font-size: 32px;
}
.login-email{
  padding: 1rem;
  
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 0.5rem;
  
  margin-top: 1rem;
  background-color: #edeaf5;
}
.login-email input{
  width: 30rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  background-color: #edeaf5;
}
.login-page-cont h4{

  margin-top: 2rem;
  transform: translate(-25%,0%);
  color: #57585a;
}
.login-password{
  padding: 1rem;
  
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 0.5rem;
  
  margin-top: 1rem;
   background-color: #edeaf5;

}
.login-password input{
  width: 30rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
   background-color: #edeaf5;

}
.login-btn{
  padding: 1rem;
  background-color: #7c3aed;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.login-btn button{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #7c3aed;
  color: white;
  font-size: 20px;
}
.login-btn button:hover{

  background-color: #1c0e35;
  cursor: pointer;
}
.login-btn:hover{
  background-color: #7556a3;

}
.dont-have-account{
  color: #857f8d;
  margin-top: 1rem;
}
.sign-up{
  color: #7c3aed;
  cursor: pointer;
  font-weight: bold;
}
.sign-up:hover{
  color: #a17bdb;
}

.forgot-password{
  color: #2a1749;
  margin-top: 2rem;
  font-weight: 600;
}
.forgot-password:hover{
  color: #7556a3;
  cursor: pointer;
}


/*SIGNUP PAGE STYLES*

.signup-page-cont{
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  height: 36rem;
  margin-top: 1rem;
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 1rem;
}
 .Q--{
  color: #2a1749;
  margin-top: 1rem;
  background-color: #c4b0e7;
  width: 5rem;
  margin-left: 1rem;
  height: rem;
  text-align: center;
  font-size: x-large;
  border-radius: 5rem;
  transform: translate(80%, 70%);

}
.signup-page-cont h3{
  color:#59329c;
  margin-top: 2rem;
  font-size: 32px;
}
.signup-email{
  padding: 1rem;
  
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 0.5rem;
  
  margin-top: 1rem;
  background-color: #edeaf5;
}
.signup-email input{
  width: 30rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  background-color: #edeaf5;
}
.signup-page-cont h4{

  margin-top: 2rem;
  transform: translate(-25%,0%);
  color: #57585a;
}
.signup-password{
  padding: 1rem;
  
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 0.5rem;
  
  margin-top: 1rem;
   background-color: #edeaf5;

}
.signup-password input{
  width: 30rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
   background-color: #edeaf5;

}
.signup-btn{
  padding: 1rem;
  background-color: #7c3aed;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.signup-btn button{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #7c3aed;
  color: white;
  font-size: 20px;
}
.signup-btn button:hover{

  background-color: #1c0e35;
  cursor: pointer;
}
.signup-btn:hover{
  background-color: #7556a3;

}
.dont-have-account{
  color: #857f8d;
  margin-top: 1rem;
}
.login-up{
  color: #7c3aed;
  cursor: pointer;
  font-weight: bold;
}
.login-up:hover{
  color: #a17bdb;
}

.forgot-password{
  color: #2a1749;
  margin-top: 2rem;
  font-weight: 600;
}
.forgot-password:hover{
  color: #7556a3;
  cursor: pointer;
}

/*SIDE BAR STYLES*

.sidebar{
  background-color: hsl(261, 89%, 11%);
  color: white;
  display: flex;
  flex-direction: column;
  height: 37.8rem;
  width: 15rem;

}

.dashboard-sidebar{
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;

}
.activeSideBar{
  background-color: #57585a;
}

.subject-sidebar{
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
}

.logout-sidebar button{
  margin-top: 1rem;
  margin-left: 2rem;
  color: white;
  border: none;
  background-color:hsl(261, 89%, 11%); 
  font-size: 20px;
  font-weight: bold;
}

.logout-sidebar button:hover{
  color: red;
  cursor: pointer;

}

.subject-sidebar:hover{
  background-color: #564869;
  border-radius: 0.2rem;
   cursor: pointer;
  
}
.dashboard-sidebar:hover{
  background-color: #564869;
  border-radius: 0.2rem;
   cursor: pointer;
}
.quiz-logo-sidebar{
  display: flex;
}

.quiz-logo-sidebar h1{
  color: #59329c;
  margin-left: 1rem;
}
.QuizMaster-sidebar{
  transform: translate(5%, 30%);
}
.subj-icon{
  margin-left: 0rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}
.logout-icon{
  margin-left:2rem ;
  margin-right: -2rem;
}
.dashboard-icon{
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

/*DASHBOARD STYLES*


/*sidebar and dashboard sliding*

.sidebar-content{
  position: fixed;
}
.dashboard-content{
  overflow-y: auto;
  margin-left: 10rem;
  padding-left: 25rem;
}
/*Header Styles*
.dashboard-container{
  background-color: #eae2f7;
  display: flex;
  gap:20rem ;
  height: 100vh;
  
  

}
.header-dashboard{
  display: flex;
  gap: 8rem;
  background-color: #f3f4f7;
  margin-left: -20rem;
  
  

}
.header-dashboard-greeting{
  margin-left: 5rem;
  margin-top: 1rem;
}
.notification-layout{
margin-left:20rem;
margin-top: 1rem;
}
.user-icon{
  margin-left: 2rem;
}
.header-dashboard-greeting h4{
  color: #0e0561;
  font-style: italic;
}


/* StatCard Styles*

.stat-card{
  background-color: #f2f0f7;
  text-align: center;
  width: 16rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: -12rem;
  border-color: #cdd5e6;
  border-style: groove;
  color: #59329c;
  box-shadow: 1px 5px 12px rgb(87, 81, 172);
  
}

/*statCards style*

.stat-cards{
  display:flex ;
  gap: 15rem;
}


/*Select Subject styles*
.selected-subject{
  background-color: #9c7fcf;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  color: white;
  display: flex;
  gap: 4rem;
}
.selected-subject p{
  margin-top: 1rem;
}
.select-subject{
  margin-top: 4rem;
  margin-left: -15rem;
  background-color: #d3c9df;
  padding-bottom: 3.5rem;
  margin-left: -20rem;
  padding-top: 1.5rem;
}
.selected-subject button{
  width: 8rem;
  height: 3rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  border-color: #7556a3;
}

.select-subject h3{
  margin-left: 5rem;
}

.selected-subject button:hover{
  background-color: #d0cbd8;
  cursor: pointer;
}
.selected-subject:hover{
  box-shadow: 1px 5px 14px rgba(12, 3, 14, 0.2);
  transform: translate(-0.1%,-1%);

}


/*Top Subjects styles*

.top-subjects-container{
  margin-top: 3rem;
}

.top-subjects-container h3{
  margin-left: -15rem;
}
.top-subjects{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-left: -15rem;
  margin-right: 2rem;
}

/*Top subject styles*

.top-subject-cont{
  background-color: #280366;
  text-align: center;
  width: 16rem;
  padding-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 5rem;
  color: white;
  border-radius: 0.5rem;
  
}
.top-subject-cont h3{
  margin-left: -3rem;
} 

.top-subject-cont .top-subj-icon{
  margin-left: -3rem;
}

.top-subject-cont p{
  margin-left: -3rem;
}
.top-subject-cont:hover{
  transform: translate(-0.1%,-1%);
  box-shadow: 1px 7px 17px rgb(112, 19, 133);

  cursor: pointer;
}
*/
/*============option button styles===============*/
.question-options {
  margin-left: 2rem;
  margin-top: -2rem;
}
.btn {
  background-color: blueviolet;
}
.correct {
  background-color: green;
  padding: 10px;
  margin: 8px 0;
  margin-right: 70rem;
  border-radius: 8px;
  color: white;
}
.wrong {
  background-color: red;
  padding: 10px;
  margin: 8px 0;
  margin-right: 70rem;
  border-radius: 8px;
  color: white;
}
.review-options {
  width: 14%;
  text-align: left;
  padding: 1rem;
  border: 2px solid #e5e7eb;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.2s;

  gap: 1rem;
}
.answer {
  background-color: blue;
}
.active {
  background-color: green;
  color: white;
}

.options {
  display: flex;
  width: 25%;
  text-align: left;
  padding: 1rem;
  border: 2px solid #e5e7eb;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.2s;

  gap: 1rem;
}

/*=========Question Navigation styles=============*/
.active-question {
  background-color: #2563eb;
  color: white;
}
.answered-question {
  background-color: green;
  color: white;
}
.active-review {
  color: #ddd;
  background-color: #2563eb;
}

.question-nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.question-nav button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.review-nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.review-nav button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn-color {
  background-color: gray;
}

/*========Question Card styles==========*/
.question-card {
  background: white;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  margin-top: -10rem;
}

/*===========sidebar styles===========*/
.sidebar {
  position: fixed;
  top: 0;
  left: 2px;
  width: 280px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1200;
  padding: 2rem 1rem;
  background-color: rgb(29, 25, 25);
  color: #ddd;
}
.sidebar.open {
  left: 0px;
}
.sidebar.close {
  left: -320px;
}

.sidebar nav ul {
  list-style: none;
  margin-left: -2rem;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: large;
}
.sidebar nav ul li:hover {
  background-color: #eff6ff;
  color: #2563eb;
}

.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 0rem;
  display: flex;
  color: white;
}
.close-btn:hover {
  transform: scale(1.2);
  color: red;
}

@media (max-width: 768px) {
  .sidebar {
    width: 250px;
  }
}
.logo {
  font-size: 1rem;
}

/*============Navbar styles================*/

.navbar {
  position: sticky;
  top: 15px;
  z-index: 20;
  
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  height: 70px;
  width: 100%;
  margin-top: 2.3rem;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow:  0 10px 30px rgba(0, 0, 0, 0.08);
  
  
}
.nav-brand{
  display: flex;
  align-items: center;
  gap: 30rem;
  font-weight: 700;
  font-size: 20px;
  
  
  
  /*background: linear-gradient(90deg,#2563eb,#7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.brand-icon{
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  position:absolute ;

  
  background:linear-gradient(135deg,#2563eb,#7c3aed) ;
  
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.navbar-right {
  
  
  margin-right: -5rem;
  padding: 8px 14px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  margin-left: 30rem;
  
  


}
.logo {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2563eb;
}
.menu-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.menu-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.profile-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  background: #2563eb;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  
  
}
.profile-btn:hover {
  transform: scale(1.05);
}
/*==================Profile-menu styles=============*/
.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.profile-menu button {
  margin-bottom: 1rem;
  width: 55px;
  border: none;
  border-radius: 7px;
  
  color: #2563eb;
}
.profile-menu button:hover {
  color: #4b5563;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  .logo {
    font-size: 1.1rem;
  }
}

/*=========overlay style for sidebar===========*/

/*.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.04);
  z-index: 1100;
}*/

/*==========Dashboard Hero section styles==============*/
.hero {
  padding: 2rem 1.5rem;
  margin-top: 8.5rem;
 background: linear-gradient(90deg, #2563eb, #7c3aed);
 border-radius: 12px;
  
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  background: rgb(252, 247, 252);
}
.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #111827;
}
.hero-text p {
  color: #6b7280;
  max-width: 500px;
  line-height: 1.6;
}

.streak-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #eff6ff;
  padding: 1rem 1.5rem;
  border-radius: 16px;
}
.streak-icon {
  font-size: 2rem;
}
.streak-card h3 {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 0.2rem;
}

.streak-card p {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2563eb;
}
.leader-b{
  color: #2563eb;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-content h1 {
    font-size: 1.6rem;
  }
  .streak-card {
    width: 100%;
  }
}
/*===========dashboard background styles=================*/
.dashboard {
  min-height: 100vh;
  background-color: #dce3eb;
  padding-bottom: 2rem;
}

/*=============dashboard Stats card styles===================*/
.stats-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.stats-card {
  background: white;
  padding: 1.5rem;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transform: 0.2s ease;
}
.stats-card:hover {
  transform: translateY(-4px);
}
.stats-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: #eff6ff;
  color: #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.stats-card p {
  color: #6b7280;
  font-size: 0.95rem;
}
.general-stat-section{
  margin-top: 4rem;
}
.general-stat-section h2 {
  margin-left: 2rem;
}


/*==============Dashboard subject card styles=============*/

.subjects-section {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.subjects-section h2 {
  margin-bottom: 1rem;
  color: #111827;
}

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}
.subject-card {
  background: white;
  padding: 1.5rem;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}
.subject-card:hover {
  transform: translateY(-5px);
}
.subject-card h3 {
  margin-bottom: 0.7rem;
  color: #111827;
}
.subject-card p {
  color: #6b7280;
  margin-bottom: 1rem;
}
.subject-card button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  transition: back-ground 0.2s ease;
}
.subject-card button:hover {
  background: #1d4ed8;
}

/*============Subject details page styles===============*/

.subject-details {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1.5rem;
  margin-top: 5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-bottom: 2rem;
  color: #2563eb;
  font-weight: 600;
}
.back-btn:hover {
  color: #7b95df;
}
.subject-header {
  margin-bottom: 2rem;
}

.subject-header h1 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.subject-header p {
  color: #6b7280;
  max-width: 600px;
  line-height: 1.6rem;
}

.subject-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.stat-box {
  background: white;
  padding: 1.5rem;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.stat-box svg {
  color: #2563eb;
  margin-bottom: 0.8rem;
}
.stat-box h3 {
  margin-bottom: 0.3rem;
}
.stat-box p {
  color: #6b7280;
}

.instructions-card {
  background: white;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}
.instructions-card h2 {
  margin-bottom: 1rem;
}

.instructions-card ul {
  padding-left: 1.2rem;
}
.instructions-card li {
  margin-bottom: 0.8rem;
  color: #4b5563;
}
.start-btn {
  width: 50%;

  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  padding: 1rem;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 25%;
}
.start-btn:hover {
  background: #1d4ed8;
}

@media (max-width: 768px) {
  .subject-header h1 {
    font-size: 1.8rem;
  }
}

.subjectdetails-section {
  background: #f7f8fc;

}
/*==========Dashboard admin login button=======*/
.admin-login-btn{
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.3);
  transition: 0.3s;
  padding: 15px;
  padding-left: -10px;
  padding-right: -10px;
  
}
.admin-login-btn:hover{
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.3);
  transform: translateY(-4px);
}

/*=========quiz page  header styles=================*/
.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  position: fixed;
  margin-top: -10rem;
  width: 100%;
}
.timer-box {
  background: #eff6ff;
  color: red;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-weight: 700;
  margin-right: 3rem;
}

/*=======quiz page progress bar styles=======*/
.progress-container {
  display: flex;
  gap: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 10rem;
}

/*========progress bar styles===============*/
.progress {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-bottom: 10rem;
}
.progress-bar {
  height: 100%;
  background: green;
  transition: 0.3s;
}
.progress-numAnswered {
  background: #eff6ff;
  color: #2563eb;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-weight: 700;
}

/*============Prev Next/Submit button Styles============*/
.prevNext-flex {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 1.5rem;
}

.submit-btn button {
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 15px;
  background: #4be765;
  font-weight: 500;
}
.submit-btn button:hover {
  background: #0db14c;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgb(35, 133, 35, 0.4);
  cursor: pointer;
}
.submit button {
  background: rgb(238, 50, 50);
  color: white;
}
.submit button:hover {
  background: red;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(239, 68, 68, 0.35);
  transition: all 0.3s ease;
}

/*===========Up button==========*/
.Up-btn button {
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 50%;
}
.Up-btn button:hover {
  background-color: #d1d5e2;
  cursor: pointer;
}

/* ============Result Page Styles==============*/

.result-page {
  min-height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.result-card {
  width: 100%;
  max-width: 800px;
  background: white;
  border-radius: 24px;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.result-header {
  text-align: center;
  margin-bottom: 2rem;
}

.result-header p {
  font-weight: 600;
  color: #166534;
  font-style: italic;
  font-size: 24px;
}
.result-header h1 {
  margin-bottom: 0.5rem;
}

.score-section {
  text-align: center;
  margin-bottom: 2rem;
}
.score-section p {
  font-size: 22px;
  color: #111827;
  font-weight: bold;
}
.score-section h2 {
  font-size: 4rem;
  color: #2563eb;
  margin-bottom: 0.5rem;
}
.status-badge {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.7rem 1.5rem;
  border-radius: 999px;
  background: #dcfcef;
  color: #166534;
  font-weight: 700;
}
.pass {
  background: #dcfce7;
  color: #166534;
}
.fail {
  background: #fee2e2;
  color: #991b1b;
}

.stats-grid {
  display: flex;
  grid-template-columns: repeat((auto-fit, minmax(140px, 1fr)));
  gap: 1rem;
  margin-bottom: 2rem;
}

.result-stat {
  background: #e4e9ee;
  border-radius: 16px;
  padding: 1.2rem;
  text-align: center;
}

.result-stat h3 {
  color: #2563eb;
  margin-bottom: 0.4rem;
}
.result-actions {
  display: flex;
  gap: 1rem;
}

.result-stat p {
  font-weight: 600;
}

.result-actions button {
  flex: 1;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 12px;
  font-weight: 600;
}

.review-btn {
  background: #2563eb;
  color: white;
}
.dashboard-btn {
  background: #d9dbe0;
}
.review-btn:hover {
  background: #2e51b3;
}
.dashboard-btn:hover {
  background: #caced6;
}

/*=================Recent Activity styles===========*/
.recent-activity {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin: 2rem 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4rem;
}
.recent-activity h2{
  justify-self: center;
  background: #2563eb;
  padding: 10px;
  border-radius: 12px;
  color: white;
}
.activity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  margin-top: -1rem;
  gap: 15rem;
  margin-left: -4rem;
}
.activity-item:last-child {
  border-bottom: none;
}

.empty-activity {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ca3af;
  font-size: 1rem;
  font-weight: 500;
}

/*============loading screen======================*/
.loading-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #2563eb;
  margin-left: -8rem;
  
}
.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #eee;
  border-top: 4px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*========offline banner==========================*/
.offline-banner {
  width: 100%;
  text-align: center;
  background-color: #f87171;
  color: white;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  font-weight: 500;
}
.reset-navbar {
  margin-top: 0;
}
.offline-banne {
  width: 100%;
  text-align: center;
  background-color: white;
  color: white;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  font-weight: 500;
  margin-top: 0rem;
}


/*==========profile page styles================*/

.profile {
  min-height: 100vh;
  padding: 7rem 1.5rem 2rem;
  background: #f7f8fc;
  margin-top: -5rem;
}
.profile-card {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  box-shadow: 0 10px 25px rgb(128, 51, 128);
}
.profile-card h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}
.profile-card p {
  color: #64748b;
  font-size: 0.95rem;
}
.profile-stats {
  max-width: 900px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
/*===========Dashboard leaderborad card========*/

.stat-card {
  background: white;
  border-radius: 18px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
}
.stat-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}
.stat-card span {
  font-size: 2rem;
}
.stat-card h3 {
  margin: 0.8rem 0 0.3rem;
  font-size: 2rem;
  color: #2563eb;
  text-decoration: underline
  ;
}
.stat-card p {
  font-size: 1rem;
  color: #64748b;
  text-decoration: underline;
}

/*=================Amin Page Styles=================*/
.admin-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.admin-header {
  margin-bottom: 2rem;
}
.admin-header h1 {
  font-size: 2rem;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}
.admin-form input,
.admin-form select {
  padding: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}
.admin-form button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.questions-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}
.quesstion-card {
  background: white;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.theSubject-badge {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 600;
}
.the-options {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
.the-options p {
  margin: 0.3rem 0;
}
.add-question-btn {
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
}
.delete-question-btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.edit-btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/*===========No  Question yet... Styles====================*/
.no-question {
  justify-content: center;
  align-items: center;
  color: #4b5563;
}
.no-question h2 {
  margin-left: 35%;
  margin-bottom: -5rem;
}

/*==============Bulk upload styles====================*/
.bulk-upload {
  margin-top: 3rem;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.bulk-upload textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  min-height: 300px;
  font-family: monospace;
}
.bulk-upload button {
  margin-top: 1rem;
}

/*==================filter question styles==============*/
.question-filters {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}
.question-filters input,
.question-filters select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/*===================User section management styles================*/
.users-section {
  margin-top: 40px;
}
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}
/*==================Leader board styles==================*/
.leaderboard-page {
  padding: 20px;
}
.leaderboard-header,
.leaderboard-row {
  display: grid;
  grid-template-columns: 80px 1fr 120px 120px 120px;
  gap: 10px;
  padding: 15px;
  align-items: center;
}
.leaderboard-header {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.leaderboard-row {
  border-bottom: 1px solid #eee;
}
/*==================Analytics section styles=========================*/
.analytics-section {
  margin-bottom: 40px;
}
.analytics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}
.analytics-card {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}
.analytics-card h3 {
  margin-bottom: 10px;
}
.analytics-card p {
  font-size: 1.4rem;
  font-weight: bold;
}

/*==============Dashboard Each Subject-stat styles========*/
.subject-stat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.subject-stat-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
}
.subject-stat-cont {
  background: whitesmoke;
  border-radius: 12px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.subject-stat-cont h2 {
  margin-left: 1rem;
}

/*=======================Review Page Styles================*/

.review-explain {
  font-weight: 600;
  font-size: 13px;
  max-width: 500px;
}

/*-================Landing Nav Bar styles================*/
.landing-navbar {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px 8%;
  background: white;
  margin-bottom: -7rem;*/
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(175, 188, 230, 0.418);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 8%;
  display: flex;
  gap: 40rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-links:hover {
  transform: scale(1);
}

.landing-login-btn {
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: rgb(196, 64, 196);
}
.landing-login-btn:hover {
  transform: scale(1.01);

  cursor: pointer;
}

.logo {
  font-size: 28px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*=================Landing Hero Section============*/
.landing-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 8%;
  min-height: 90vh;
  gap: 40px;
  position: relative;
  overflow: hidden;
  background:
    radial-gradient(circle at top left, #dbeafe, transparent 40%),
    radial-gradient(circle at bottom right, #ddd6fe, transparent 15%);
}
.landing-hero-content {
  flex: 1;
  margin-top: 0rem;
}
.landing-hero-content h1 {
  font-size: 4rem;
  margin: auto 20px 0;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-hero-content p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}
.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  padding: 14px, 30px;
}
.start-learning-btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.3);
  transition: 0.3s;
  padding: 15px;
}
.secondary-btn {
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(37, 99, 235, 0.3);
  transition: 0.3s;
  padding: 15px;
}
.start-learning-btn:hover,
.secondary-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(37, 99, 235, 0.3);
}

.hero-image {
  flex: 1;
  position: relative;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  animation: fadeImage 0.9s ease;
}
@keyframes fadeImage {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.floating-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px 20px;
  border-radius: 18px;
  display: flex;
  gap: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  align-items: center;
}
.floating-card span {
  display: block;
  font-size: 13px;
  color: #64748b;
}

.card-one {
  top: 15%;
  right: -20px;
  margin-top: 2rem;
}
.card-two {
  bottom: 15%;
  left: -30px;
  margin-left: 1rem;
}
/*-----------hero img messages------------------*/
.image-message {
  position: absolute;
  bottom: 15px;
  margin-left: 9rem;
  margin-right: 3rem;

  left: 5px;
  right: 25px;
  background: rgba(38, 43, 56, 0.75);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 18px;
  color: white;
  z-index: 2;
  animation: fadeText 0.5s ease;
}
.image-message h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.image-message p {
  font-size: 14px;
  line-height: 1.6;
  color: #e2e8f0;
  font-style: italic;
}
@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*---------------dot style for hero img slides----------*/
.slider-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 3;
}
.slider-dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  cursor: pointer;
}
.slider-dots .active-dot {
  opacity: 1;
  width: 25px;
  border-radius: 10px;
}
/*==================Landing Stat styles=============*/
.stats {
  margin-top: -7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px 8%;
}
.stat-cardy {
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
  transition: 0.3s ease;
  border: 1px solid rgba(37, 99, 235, 0.08);
}
.stat-cardy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2563eb;
}
.stat-cardy:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(37, 99, 235, 0.15);
}
.stat-cardy h2 {
  font-size: 2.5rem;
  color: #2563eb;
  margin-bottom: 10px;
}
.stat-cardy p {
  color: #64748b;
  font-weight: 600;
}
/*============Landing Feature Styles===================*/
.features {
  padding: 100px 8%;
  text-align: center;
  margin-bottom: 1rem;
}
.features h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #0f172a;
}
.features::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: #2563eb;
  margin: 20px auto;
  border-radius: 20px;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 30px;
  gap: 30px;
}
.feature-card {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;

  text-align: center;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: 0.3s;
}
.feature-card svg {
  width: 45px;
  height: 45px;
  color: #2563eb;
  margin-bottom: 20px;
}
.feature-card h3 {
  color: #0f172a;
  margin-bottom: 10px;
}

/*==============How It Works styles==========*/
.how {
  padding: 80px 8%;
  text-align: center;
  background: #f8fafc;
  margin-top: -3rem;
}
.how h2 {
  font-size: 2.5rem;
  color: #0f172a;
  margin-bottom: 50px;
}
.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  position: relative;
}
.step {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.step h1 {
  width: 65px;
  height: 65px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  font-size: 2rem;
}
.step p {
  color: #475569;
  font-size: 1.1rem;
  font-weight: 600;
}

/*=============CTA styles==================*/
.cta {
  background: #2563eb;
  padding: 80px 8%;
  text-align: center;
  color: white;
  margin-left: -1rem;
  margin-right: -1rem;
}
.cta-btn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  border: none;
}
.cta-btn:hover {
  transform: scale(1.02);
  background: #e4e6eb;
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.3);
  cursor: pointer;
}

.landing-Up-btn {
  justify-content: center;
  margin-top: 2rem;
}
.landing-Up-btn button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
}
.landing-Up-btn button:hover {
  background: #e4e6e9;
  cursor: pointer;
}
/*==========Landing Footer styles==================*/
.footer {
  text-align: center;
  padding: 30px;
  background: #0f172a;
  margin-left: -1rem;
  margin-right: -1rem;
}
.footer h3 {
  color: #6b7280;
}
.footer p {
  color: #4b5563;
}
/*===================Scroll Animation========*/
.feature-card,
.stat-card,
.step {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.feature-card:hover,
.stat-card:hover,
.step:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.main-landing-page {
  background: linear-gradient(180deg, #f8fafc, #eef2ff);
  color: #0f172a;
  font-family: "Inter", sans-serif;
}
/*================Landing Page Responsivenes Design================*/
@media (max-width: 900px) {
  /*----------Nav Bar------------*/
  .landing-navbar {
    padding: 20px 5%;
  }
  .nav-links {
    gap: 10px;
  }
  /*---------Hero----------*/
  .landing-hero {
    flex-direction: column;
    text-align: center;
    padding: 70px 5%;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    max-width: 500px;
    margin: auto;
  }
  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  /*-------Hero Image----------*/
  .hero-image {
    width: 100%;
    margin-top: 40px;
  }
  .hero-image img {
    max-width: 450px;
    height: 450px;
  }
  .image-message{
    max-width: 300px;
    height: 200px;
  }
  /*-------------Floating cards-----------*/
  .card-one {
    right: 0;
  }
  .card-two {
    left: 0;
  }
  /*-------------Stats----------*/
  .stats {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 5%;
  }
  /*-------------Features--------------*/
  .feature-grid {
    grid-template-columns: 1fr 1fr;
  }
  .steps {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  /*------------NavBar----------*/
  .landing-navbar {
    flex-direction: column;
    gap: 20px;
  }
  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo {
    font-size: 24px;
  }
  /*-----Hero----------------*/
  .landing-hero {
    padding: 50px;
  }
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .hero-content p {
    font-size: 15px;
  }
  .hero-buttons button {
    width: 220px;
  }

  /*-------------Image---------*/
  .hero-image img {
    height: 300px;
  }

  /*------------------measege overlay------*/
  .image-message {
    left: 3px;
    right: 20px;
    bottom: 1px;
  
    
  
  }
  .image-message h2 {
    font-size: 18px;
  }
  .image-message p {
    font-size: 12px;
  }

  
  /*-------Floating card--------------*/
  .floating-card {
    padding: 10px;
    font-size: 12px;
  }
  .card-one {
    top: 10px;
    right: -5px;
  }
  .card-two {
    bottom: 20px;
    left: -5px;
  }

  /*----------------stats-----------*/
  .stats {
    grid-template-columns: 1fr;
  }

  /*----------Features----------*/
  .feature-grid {
    grid-template-columns: 1fr;
  }

  /*---------stteps----**/
  .steps {
    grid-template-columns: 1fr;
  }
  /*---cta------*/
  .cta h2 {
    font-size: 2rem;
  }

  /*--footer----*/
  .footer {
    padding: 25px 15px;
  }
}
@media (max-width: 400px) {
  .hero-content h1 {
    font-size: 1.9rem;
  }
  .logo {
    font-size: 1.4rem;
  }
  .nav-links {
    flex-direction: column;
  }
  .hero-image img {
    width: 90%;
  }
  /*------------------measege overlay------*/
  
  .image-message {
    left: 4px;
    right: 15px;
    bottom: 1px;
    
  }
  .image-message h2 {
    font-size: 18px;
  }
  .image-message p {
    font-size: 12px;
  }
}
/*====================Login/ SignUp Page Style==============*/
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at top left, #7c3aed55, transparent 40%),
    radial-gradient(circle at bottom right, #2563eb55, transparent 40%),
    linear-gradient(135deg, #2563eb, #7c3aed);
    position: relative;
    overflow: hidden;

}

/*-------floating blur shapes-------------*/
.login-container::before, .login-container::after{
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);



}
.login-container::before{
  top: -80px;
  left: -80px;

}
.login-container::after{
  bottom: -90px;
  right: -70px;

}
.login-card{
  width: 100%;
  max-width: 420px;
  padding: 40px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 25px 50px rgba(255, 255, 255, 0.25);
  color: white;
  animation: slideUp 0.5s ease;
}
@keyframes slideUp{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.login-header{
  text-align: center;
  margin-bottom: 30px;
}
.login-header h1{
  font-size: 32px;
  margin-bottom: 8px;

}
.login-header p{
  opacity: 0.8;
  font-size: 14px;

}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-group{
  position: relative;
}
.input-group input{
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 15px;

}
.input-group input::placeholder{
  color: #e5e7eb;
}
.input-group:focus{
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0  0 3px rgba(255, 255, 255, 0.2);
}


.eye-btn{
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.8;

}
.eye-btn:hover{
  opacity: 1;
}
.log-in-btn{
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: white;
  color: #2563eb;
  transition: 0.3s;
}
.log-in-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}
.forgot-btn, .back-btn-to-landing{
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 18px;
}

.forgot-btn, .back-btn-to-landing:hover{
  text-decoration: underline;
}
.error-message{
  color: #fecaca;
  text-align: center;
  margin-top: 15px
  ;
}
.signup-text{
  text-align: center;
  margin-top: 20px;

}
.signup-text-link{color: white;
  font-weight: bold;

}
.back-btn-to-landing{
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media(max-width:480px){
  .login-card{
    padding: 28px 20px;
  }
  .login-header h1{
    font-size: 26px;
  }
}

/*--------------Login page loader spinner---------*/
.login-spinner{
  width:18px;
  height: 18px;
  border: 3px solid rgba(37, 99, 235, 0.3);
  border-top: 3px solid #2563eb;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;

}

.loading-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.log-in-btn:disabled{
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
}
